body { background-color: rgb(63, 142, 142);

}
#menu{
     display: flex;
}
#menu2 {
    display: flex; background-color: gray; color: aquamarine; align-items: flex-end; justify-content: space-between; padding-right:
    60px; padding-left: 30px;
}
#logo { background-color: black;
    padding-right: 800px; padding-left: 40px;
}
#quem {
    padding-right: 30px;
}
#hobb {
    padding-right: 35px;
}
#ctt {
    padding-right: 30px;

}
